.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  padding: 8px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    position: absolute;
    top: 160px;
    opacity: .7;
    display: none;

  }

  &:hover {
    .image{
      opacity: .8;
    }

    .custom-button {
      opacity: .85;
      display: flex;
    }
  }
  

  .name {
    display: flex;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 12px;
  }

  .collection-footer {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;

    .price{
      margin-right: auto;
      font-size: 14px;
    }
  }
  
}
  