
.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 50px;
  right: 25px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 40px;

    .empty-message{
      font-size: 16px;
      margin: 50px auto;
      
    }
  }

  button {
    margin-top: auto;
  }
}