
.wigs{
  display: flex;
  align-items: center;
  .Button{
    background-color:white;
    color: white;
    border: none;
    font-size: 18px;
    &:hover{
      background-color: #eeeeee;
    }
    
  }
}


