.sign-in-sign-up{
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: lighten($color: #fafafa, $amount: 20%);
  height: 100vh;
  width: 100vw;
}

.directory{
  position: fixed;
  z-index: 10;
  background-color: #ff8a65;
  width: 100%;
}