.directory{
    display: flex;
    height: 45px;
    width: 100%;
    z-index: 10px;
    justify-content: space-between;
    background-color: #ec407a;
    .logo-text{
      padding-left: 10px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  
    .options{
      display: flex;
      align-items: center;
      .option{
        padding: 0 12px;
        cursor: pointer;
        color:  black;
        &:nth-last-child(1){
          padding-right: 10px;

        }
      }
    }
    
  }
  
  .collections{
    display: flex;
    height: 150px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: white;
  
    .collection-title{
      font-size: 17px;
      padding: 0 20px;
      margin-top: 40px;
      color: black;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    .title{
      padding: 12px 14px;
      color: black;
      font-size: 17px;
      font-weight: 400;
      &:hover{
        background-color: #eeeeee;
      }
    }
    }
  }


