.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 25px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 50%;
      height: 45%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;
    


    .arrow{
      cursor: pointer;
    }

    .value{
      margin: 0 10px;
    }
  }

  .remove-button {
    cursor: pointer;
    padding-left: 12px;
  }
}
