.homepage{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;


  .image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .message{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    bottom: 45px;
    left: 130px;

    .text {
      width: 100%;
      font-size: 100px;
      font-family: 'Liu Jian Mao Cao', cursive;
      
    }
  }
}

.directory{
  position: fixed;
  z-index: 10;
  background-color: #ff8a65;
  width: 100%;
}