.app{
  position: relative;

  .directory{
    position: fixed;
    z-index: 10;
    background-color: #ff8a65;
    width: 100%;
  }
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

a:link{
  text-decoration: none;
}


