.checkout-page {
  width: 55%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:  0 auto;

  .checkout-header {
    width: 100%;
    padding: 190px 10px 0 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}

.directory{
  position: fixed;
  z-index: 10;
  background-color: #ff8a65;
  width: 100%;
}