.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 45px;
  img {
    width: 30%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px;

    .name {
      font-size: 16px;
    }
  }
}
